
<div class="contact-button"><svg src=""><a href="/">Contact us!</a></svg></div>

<div class="flag">

	<header>
		<nav>
			<ul class="headnav">
				<li class="ico"><a href="/"><%= image_tag "flynn-acaf9509.svg" %></a></li>
				<li><a href="/">About</a></li>
				<li><a href="/">Docs</a></li>
				<li><a href="/">Blog</a></li>
				<li><a href="/">Pricing</a></li>
				<li class="nav button"><a href="/">Try</a></li>
			</ul>
		</nav>
	</header>

	<section class="part1">
		<h1>Throw away the duct tape. <br>Say hello to Flynn.</h1>

		<div id="poster"><button id="play"></button></div>
	</section>

	<nav style="padding-bottom: 5.4rem; width: 1100px;">
		<ul class="midnav">
			<li id="li1"><a href="/"><strong>Apps</strong></a></li>
			<li id="li2"><a href="/"><strong>Manage</strong></a></li>
			<li id="li3"><a href="/"><strong>Databases</strong></a></li>
		</ul>
	</nav>

	<section class="part2">
		<h2>Powerful and easy. The way it should be.</h2>

		<h4 class="content"><strong>Flynn is an open source platform (PaaS) for running applications in production.</strong></h4>

		<p class="content">It does everything you need, out of the box:</p>

		<ul id="content-list">
			<li class="content">Creates running 
				<a href="/">applications</a> 
				directly from your code so there's no need to learn configuration management or build custom stacks for each app
			</li>
			<li class="content">
				Routes and load balances traffic to every instance of each of your apps
			</li>
			<li class="content">Includes built-in Postgres, MySQL, and MongoDB 
				<a href="/">databases</a> 
				with safe, automatic high availability
			</li>
			<li class="content">
				Connects all your microservices with built-in service discovery
			</li>
			<li class="content">Makes 
				<a href="/">scaling</a> 
				your cluster to just the right size easy so you save money on your cloud bills
			</li>
		</ul>

	</section>
	
	<a href="/" id="trynow">Try FLynn Now</a>

	<section class="part3">

		<h2>Whatever you need,<br>Flynn can help.</h2>

		<h3>Getting apps running in the cloud<br>is way too hard.</h3>

		<p class="content"> Deployment. Ops. Databases. Containers. Configuration management. Service discovery. Forget about all of them.</p>

		<p class="content">Flynn is all you need to know.</p>

		<p class="content">Flynn is a simple, turnkey solution to cloud, containers, ops, whatever you want to call it. Flynn manages all the technology you need under the surface. So you get all the benefits with none of the work or complexity.</p>

		<p class="content">Get back to writing your app and running your business.</p>

		<p class="content">And Flynn gets better everyday. We track the infrastructure space closely and regularly integrate new components and features, so you get the best technology without having to figure out how everything fits together.</p>

		<p class="content">And like all good things, it's completely free. </p>

		<h3>Growth is hard.</h3>

		<p class="content">Users love your product and you're growing like crazy. Your engineering team is already stretched thin keeping up with growth.</p>
		<p class="content">You're using more cloud instances, apps, containers, languages, frameworks, and databases.</p>
		<p class="content">Your ops team (if you have one) is already under water trying to keep up. </p>
		<p class="content">Flynn helps you breeze through those challenges. </p>
		<p class="content">Developers can deploy with a single command straight from git. Operators manage a single platform instead of doing custom work before each app can be deployed. </p>
		<p class="content">Databases manage themselves. Service discovery, scheduling, containers, routing, and cluster management are all taken care of in the background. </p>


		<h3>Your world is changing too <br>quickly.</h3>

		<p class="content">New languages, frameworks, version control systems, databases, architectures, and other bleeding-edge technologies are taking over, fast.</p>

		<p class="content">You need containers, microservices, polyglot everything, and cost savings yesterday. </p>

		<p class="content">Developers need the best tools for the job in a changing world. Operators and IT teams need a platform they can manage instead of building everything from scratch, one piece at a time. </p>

		<p class="content">Flynn has you covered. All the shiny new best practices in a single turnkey solution. </p>

		<p class="content">It's free and open source so you can have tomorrow's technology today without any lock-in. </p>


		<h3>We can run it for you.</h3>

		<p class="content">You can run Flynn yourself or our experienced team can install, run, and manage a Flynn cluster for you. We work with your developers to help you get the most out of Flynn and your apps. And since Flynn is 100% open source there's no lock-in. </p>

		<p class="content">We can also support your ops, IT, or sysadmins team 24/7 if you prefer to handle things yourself but still want help on call. </p>

	</section>

	<a id="trynow" href="/">Try Flynn Now</a>

	<form>
		<h2>Mailing List</h2>
		<div id="formulaire">
		<label>
			Email Adress
			<input name="EMAIL" placeholder="you@example.com">
		</label>
		<button type="submit" name="subscribe">Subscribe</button>
	</div>
	</form>

	<nav>
		<ul class="ressources">
			<li><a href="https://github.com/flynn/flynn">Get the source on GitHub.</a></li>
			<li><a href="https://webchat.freenode.net?channels=flynn">Join us on IRC.</a></li>
			<li><a href="https://twitter.com/flynnscale">Follow us on Twitter.</a></li>
			<li><a href="/">Read the docs.</a></li>
			<li><a href="https://shop.flynn.io">Get some swag.</a></li>
			<li><a href="mailto:info@flynn.io">Email us.</a></li>
		</ul>
	</nav>
	

	<div class="copyright">
		    <p>Flynn is designed, built, and managed by Prime Directive, Inc.
		    <br>
		    © 2013-2018 Prime Directive, Inc. Flynn® is a trademark of Prime Directive, Inc.
		    <br>
		    <a href="/legal/privacy">Privacy Policy</a> | <a href="/docs/trademark-guidelines">Trademark Guidelines</a></p>
	</div>


	<footer></footer>

</div>








