
html {
    font-family: fab-font, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

body {
    background-color: #3C79BB;
    color: white;
    margin: 0px;
}

strong {
    text-transform: uppercase;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: #102533;
}

a:hover {
    color: #3C79BB;
}

h1 {
    color: #102533;
    font-size: 26px;
    text-align: center;
    padding-bottom: 10px;
}

h2 {
    font-size: 18px;
    color: #102533;
}

p {
    vertical-align: middle;
}

.uppercase {
    text-transform: uppercase;
}


#section_1_background_image {
    height: 770px;
    background: 50% 50% / cover no-repeat;
    background-image: url("https://checkr.com/wp-content/uploads/2015/10/checkr_header_industries-1.jpg");
    opacity: 0.3;
}

#section_1{
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    padding-right: 120px;
    padding-left: 120px;
    

}

nav {
    width: 100%;
    text-align: right;

}



a.nav-right {
    color: white;
    text-decoration: none;
}

a.nav-right:hover {
    color: rgba(255,255,255,0.5);
    

}

nav li {
    list-style-type: none;
    display: inline;
    padding: 0px 15px 0px 15px;

}

header {
    display: flex;
    padding-top: 10px;
    
}

header > div {
    flex: 1;
    display: flex;
}

header > div:nth-child(2) {
    justify-content: flex-end;

}

header > div:nth-child(2) button {
    margin-left: 30px;
}

header .logo {
   
    width: 130px;
    height: 33px;
}

header .dropdown {
    display: flex;
}


header .dropdown > li {
    color: white;
    list-style-type: none;
    display: inline;
    padding: 0px 15px 0px 15px;
    position: relative;
    cursor: pointer;
}

header .dropdown > li:hover .dropdown-content {
    display: block;
   
}

header .dropdown-content {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 140px;
    margin-left: -70px;
    padding: 8px 0px 8px 0px;
    background-color: white;
    margin-top: 20px;
    display: none;
    
}

header .dropdown-content:before {
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    transform: rotate(45deg);
    content: '';
    position: absolute;
    background: white;
    width: 10px;
    height: 10px;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-radius: 2px;
    z-index: -1;
}

header .dropdown-content > li {
    color: #102533;
    list-style-type: none;
    padding: 8px 20px 10px 20px;
}

header button {    
    border-radius: 3px;
    border: 2px solid #E9CA2C;
    color: #E9CA2C;
    background: none;
    cursor: pointer;
    width: 170px;
    height: 50px;
}

header button:hover {    
    background-color: #E9CA2C;
    color: #102533;
}

header button:after { 
    content: '';
    transition: all 200ms ease 0ms;
    display: inline-block;
    width: 15px;
    height: 12px;
    background: asset-data-url('fleche-jaune.svg') center center/15px 12px no-repeat;
    margin-left: 7px;
}

header button:hover:after {    
    content: '';
    transition: all 200ms ease 0ms;
    display: inline-block;
    width: 15px;
    height: 12px;
    background: asset-data-url('fleche-bleue.svg') center center/15px 12px no-repeat;
    margin-left: 7px;
}

#section_1_content {
    display: flex;
    margin-top: 40px;
}

/* #screen_1_content > :nth-child(1) { */
#section_1_content > div {    
    flex: 45%;
    margin: 75px 150px 0px 0px;
    font-size: 16px;
}

/* Bouton Explore  */
#section_1_content button {    
    background-color: #E0BE2D;
    color: #314B68;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    padding: 20px 40px 20px 40px;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 100ms ease 0ms;
}

#section_1_content button:hover {    
    opacity: 0.8;
}

#section_1_content button:after {
    content: '';
    display: inline-block;
    margin-left: 12px;
    margin-top: 4.5px;
    width: 14px;
    height: 11px;
    background: 50% 50% / 14px 11px no-repeat;
    background-image: asset-data-url('fleche-bleue');
    transition: all 200ms cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    transform: translateX(6px);
}

#section_1_content button:hover:after {    
    transform: translateX(8px);
}

/* #screen_1_content > :nth-child(2) { */
#section_1_content > video {
    flex: 45%; /* équivaut à un zoom */
    
}

#section_2 {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 60px;
}

#section_2 > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0px 250px 0px 250px;
}





#section_3 {
    background-color: #f5f9fb;
    border-top: 1px solid #c1c1c1;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 30px;
}

#section_3 > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section_3 > div > div {
    text-align: center;
    width: 330px;
    margin: 20px 30px 0px 30px;
}

#section_3> div > div > p {
    color: gray;
    font-size: 16px;
}

#section_4 {
    background-color: white;
        height: 500px;
    border-top: 1px solid #c1c1c1;
    padding-right: 120px;
    padding-left: 120px;
}

#section_4  > div {
    display: flex;
    flex-wrap: wrap;
}

#section_4  > div > div {
    width: 290px;
    height: 190px;
    margin: 5px;
    background: 50% 50% / cover no-repeat;
    transition: opacity 200ms;
    cursor: pointer;
}

#section_4  > div > div > div {
    display: none;
    width: 290px;
    height: 190px;
    background-color: rgba(60,121,187,0.82);
    text-align: center;
}

#section_4  > div > div > div > p {
    margin: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
}

#section_4  > div > div:hover {
    opacity: 0.5;
}

#section_4  > div > div:hover > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_5 {
    background-color: #f5f9fb;
    height: 430px;
    border-top: 1px solid #c1c1c1;
    padding-right: 120px;
    padding-left: 120px;
}

#section_5 > div {
    display: flex;
    justify-content: center;
}



#section_5 > div > div {
    width: 330px;
    margin: 20px 30px 0px 30px;
    border-style: solid;
    border-color: grey;
    border: 2px;

}

#section_5 > div > div > h2 {
        text-align: center;
}

#section_5 > div > div > p {
    color: gray;
    font-size: 16px;
    text-align: left;
}

#section_6 {
    background-color: white;
    height: 430px;
    border-top: 1px solid #c1c1c1;
    padding-right: 120px;
    padding-left: 120px;
}

#section_6 > div {
    display: flex;
    justify-content: space-around;
}



#section_6 > div > div {
    width: 330px;
    margin: 20px 30px 0px 30px;
    border-style: solid;
    border-color: grey;
    border: 2px;

}

#section_6 > div > div > h2 {
        text-align: center;
}

#section_6 > div > div > p {
    color: gray;
    font-size: 16px;
    text-align: left;
}

#section_6 > div > div > div > p {
    color: gray;
    font-size: 16px;
    text-align: left;
}

#section_6 > div > div > div > h4 {
    color: black;
    font-size: 16px;
    text-align: left;
}

#section_7 {
    background-color: #3f7ab9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-bottom: 0;
}

#section_7 img {
    

    width: 20%;
    height: auto;
}

#section_7  h3 {
    
    font-size: 200%;
    font-weight: bold;
}

.toooorcenter {
    width: 20%;
}

#section_7  button {
    width: 20%;
    background-color: #112532;
    padding: 25px;
    color: white;
    border : none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 120%;
}

.mmfooter {
    background-color: #102533;
    color: white;
    padding-top: 40px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    }

.surfooter h4 {
    color: #8FA1B2;
    border-bottom: 1px solid #3d4d56;
}

.surfooter {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}

.surfooter li {
    list-style-type: none;
}

.surfooter li:hover {
    list-style-type: none;
    border-bottom: 1px solid #46A6C7;
}

.footlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twitter {
    width: 20px;
    height: auto;
}

.subfooter {
    color: #90A1B1;
    width: 30%;

}

.footer-info ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.subfooter li {
    list-style-type: none;
}

.subfooter a {
    text-decoration: none;
    color: #90A1B1;
}

.subfooter li:hover {
    border-bottom: 1px solid #46A6C7;
}


@font-face{
    font-family:fab-font;
    src:
        url(https://use.typekit.net/af/26c4cd/00000000000000003b9ad1b1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),
        url(https://use.typekit.net/af/26c4cd/00000000000000003b9ad1b1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),
        url(https://use.typekit.net/af/26c4cd/00000000000000003b9ad1b1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-weight:700;
    font-style:normal;
}

/*Les différents formats, WOFF/2 accéptés par les différens navigateurs*/