

a{
	text-decoration: none;
}

html, body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	font-size: 16px;
	justify-content: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*{
	box-sizing: border-box;
}

h1, h2, h3, h4, a{
	font-family: "League Spartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.2em;

}

.contact-button{
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
}

.flag{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.part1{
	display: flex;
	flex-direction: column;
	align-items: center;	
	width: 1020px;
	height: 793.8px;
}

#play{
	
	background-color: rgba(115,133,159,0.5);
	
  margin-left: 400px;
  margin-top: 230px;
  font-size: 3em;
	line-height: 1.5em;
	height: 45px;
	width: 90px;
	display: block;
	border: 2px solid #fff;
	border-radius: 10px;
}

.part2{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 1020px;
	height: 502.533px;
}

.part3{
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav ul{
	display: flex;
	list-style-type: none;
}


.headnav{
	display: flex;
	justify-content: right;
	
}

.ico{
	display: flex;
	align-self: left;
}

h1{
	font-size: 4.5rem;
	text-align: center;
}

#poster{
	
	background-image: url('https://flynn.io/images/flynn_demo_poster-80eaa060.jpg');
	width: 888px;
	height: 500px;
	
}

.midnav{

	padding-top: 40px;
	width: 1020px;
	display: flex;
	justify-content: center;
	
	li{
			height: 60px;
		 border: 2px solid #c2c2c2;
		 a{
		 color: #1bb45e;
		 font-size: 1.375rem;
		}
	}

	li:hover{
		background-color: #c2c2c2;
		a{
			color: white;
		}
	}

	#li1{
		width: 310px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#li2{
		width: 340px;
		border-left: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#li3{
		width: 370px;
		border-left: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}

}

section h2 {
	font-size: 3.425rem;
	width: 700px;
	margin: 0;
	padding: 0;
	position: relative;
}

h4.content{
	font-size: 1.125rem;
	color: #727272;
	line-height: 1.75em;
	width: 700px;
	padding-bottom: 0;
}

h3{
	font-size: 2.5rem;
	align-self: left
}

#content-list{
	width: 736px;
	line-height: 1.75em;
}

.content{
	color: #727272;
	width: 700px;
	a{
		color: #08a1f4
	}
}

#trynow{
	font-size: 1.375rem;
	line-height: 2.73em;
	padding: 0 1.25em;
	padding-top: 0.146em;
	border-radius: 2em;
	background-color: #1bb45e;
	color: #ffffff;
	margin-top: 2.91em;
	margin-bottom: 2.91em;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
	line-height: 1.5em;

	input{
		width: 179.333px;
		height: 34px;
		line-height: normal;
		padding: 0.25em;
	}

	h2{
		font-size: 3.425rem;
		
	}

}

button{
	background-color: #1eb45d;
border: none;
border-radius: 4px;
color: #ffffff;
padding: 0.4em 0.6em;
width: 94.5833px;
height: 36.8px;
}


.ressources{
	padding-top: 30px;
	padding-bottom: 30px;
	width: 1020px;
	justify-content: space-between;
	color: #5a5a5a;
	li a{ color: inherit; }

}

.copyright{
	display: flex;
	text-align: center;
	font-size: 0.75rem;
	padding-top: 4em;
	padding-bottom: 4em;
	color: #747474;
}


